html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	/*border-collapse: collapse;*/
	border-spacing: 0;
}
table td{
    padding-left:3%;
    padding-right:3%
}
table a{
    text-decoration:solid;
    
}




/*--------------------------------------------*/
nav{
    padding-left:36%;
}
nav a{
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:5%;
	line-height:65px;
	width:10%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
}
nav a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}nav a:active {
	position:relative;
	top:1px;
}



body {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    background-color:white;

}

#PostTextBox{
    margin-left:-40%;
}

form {
    background-color: #586784;
border-radius: 10px;
padding: 5px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

#ImageInfos{
    width: 100px;
}

header h1 {
    color:white;
}
header{
    /*height:200px;
    background-image:url(../Content/Icons/12885365265_347a812bb8_o.jpg);
    border-radius:5px;*/
    height:220px;
    background-image:url(../Content/Icons/Untitled-3.png);
    background-repeat:no-repeat;
    border-radius:5px;
    background-size: 100%;
    background-color: #898989;
    border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
    


    }
header img {
    width: 18%;
z-index: 100;

position: absolute;
top: -7%;
}

/*nav{
    float:right;
    padding-top:1%;
    width:21%;
    height:10%;
}
nav a{
    border: solid black 1px;
    padding: 4%;
    background-color:lightgray;
    
}*/
aside{
    float:right;
    padding-top:200px;
    margin-top:50px;
}
footer{
    text-align:center;
    background-color:lightgray;
    border-radius:5px;
    height:50px;
    text-decoration-style:wavy;
}
.AboutText{
    width:50%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
#ProfilePicture{
    width:100px;
}
h1, h2, h3{
    color:black;
}
p{
    color:black;
}

#TagsPostDetails{
    
}


.CategoryLink{
    border:solid black 1px;
    padding: 5px;
    background-color:lightgray;
}

#Column1 p{
    margin:0;
}
#ThumbNails{

    /*padding: 1%;
    background-color: #586784;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 13.6%;
    height: 344px;
    float: right;
    margin-right: 12%;
    margin-top: 2.2%;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
    text-align: center;*/

    padding: 1%;
background-color: #586784;
overflow-y: scroll;
overflow-x: hidden;
width: 13.6%;
height: 517px;
float: right;
margin-right: 12%;
margin-top: 2.2%;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
text-align: center;
}

#ThumbNails img {
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

#ThumbNails img:hover {
  -moz-box-shadow: 0 0 10px #ccc; 
  -webkit-box-shadow: 0 0 10px #ccc; 
  box-shadow: 0 0 10px #ccc;
}

#facebook {
    /*padding-left: 30.5%;
    padding-top: 10%;*/


    margin-top:7%;
text-align: center;
border-top: solid gray 1px;
padding-top: 1%;
width: 70%;
margin-left: auto;
margin-right: auto;
}
#facebookBlog{
    margin-top: 30%;
text-align: center;
border-top: solid gray 1px;
padding-top: 1%;
width: 70%;
margin-left: auto;
margin-right: auto;
}
#BlogButtons{
    padding-left: 15%;
}

#ContactContent{
    background-color: lightgray;
border-radius: 5px;
padding: 5px;
}

#PostDetailsContent{
    background-color: lightgray;
padding: 5px;
margin-left: 0px;
margin-right: 0px;
border-radius: 5px;
}

#AboutContent{
    background-color: lightgray;
border-radius: 5px;
padding: 5px;
}

#CreateBlogPostContent{
    background-color: lightgray;
padding: 5px;
border-radius: 5px;
}

#EditPostDetails {
padding-left: 13.5%;
width: 45%;
margin-right: 0%;
float: left;
/* margin-bottom: 50%; */
}

ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

#Column1 {
    /*height: 344px;
    width: 15%;
    float: left;
    background-color: #586784;
    margin-top: 3.4%;
    margin-left: 11%;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 10px 10px 5px #888888;
    padding:1%;*/

    height: 516px;
width: 15%;
float: left;
background-color: #586784;
margin-top: 3.4%;
margin-left: 11%;
border-radius: 5px;
/* overflow-y: scroll; */
/* overflow-x: hidden; */
box-shadow: 10px 10px 5px #888888;
padding: 1%;
}
#GalleryContent {
    background-color: lightgray;
    border-radius: 5px;
}

#CategoryContent {
    background-color: lightgray;
    padding: 5px;
    height: 500px;
    border-radius: 5px;
}
#bild {
    width:100%;
    margin:0px;
    background-color: lightgray;
    border-radius:5px;
}
#bild img{
    /*padding-left:4%;*/
    margin-top:2.2%;
    max-width:42%;
    /*padding-bottom: 10%;*/
    /*width: 39.7%;*/
    box-shadow: 10px 10px 5px #888888;

}
#BigImage{
    /*height:400px;*/
    padding-left:15%;
            /*margin-left: auto;
    margin-right: auto;*/
}
#Description {
    /*padding-top: 2%;*/
    /*padding-right: 27.5%;*/
    padding-top: 1%;
/* padding-right: 27.5%; */
background-color: lightgray;
padding-bottom: 1%;
margin-top: 1%;
width: 40%;
margin-left: auto;
margin-right: auto;
border-radius: 5px;
box-shadow: 4px 5px 5px gray;
border: solid 1px gray;
word-wrap: break-word;
padding: 10px;
}
#BlogpostDiv{
    width:800px;

    background-color:lightblue;
}
#BlogpostHeaderDiv{
    width:800px;
    height:30px;
    color:darkblue;
}
#BlogImage{
    float:right;
    height: 200px;
    width: 300px;
    position: absolute;
    right: 500px;
}
.BlogTable{
    /*min-width:80%;*/
    /*max-width:100%;*/
    font-family:Century;
    padding:5px;
	width:100%;
	border:1px solid #3f7f00;
    width:70%;
    background-color:white;
    margin:10px;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    table-layout:fixed;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    
}
#BlogTable td{
    padding-left:3%;
        max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#BlogContent{
    border-radius:5px;
    background-color:lightgray;
    margin:0px;
    padding:5px;
    margin-top: 0px;
}
/*.BlogTable {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #3f7f00;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#ebffd8;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #d4ffaa 5%, #ebffd8 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4ffaa), color-stop(1, #ebffd8) ); 
	background:-moz-linear-gradient( center top, #d4ffaa 5%, #ebffd8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4ffaa", endColorstr="#ebffd8");	background: -o-linear-gradient(top,#d4ffaa,ebffd8);

	background-color:#d4ffaa;

	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}*/