body {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
}

#ImageInfos{
    width: 800px;
}
header{
    height:200px;
    background-image:url(../Content/Icons/12885365265_347a812bb8_o.jpg);
    border-radius:2px;
    
}

nav{
    float:right;
    padding-top:1%;
    width:21%;
    height:10%;
}
nav a{
    border: solid black 1px;
    padding: 4%;
    background-color:lightgray;
    
}
aside{
    float:right;
    padding-top:200px;
    margin-top:50px;
}
footer{
    text-align:center;
    background-color:lightgreen;
    height:50px;
    text-decoration-style:wavy;
}
.AboutText{
    width:50%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
#ProfilePicture{
    width:100px;
}
h1, h2, h3{
    color:black;
}
p{
    color:gray;
}
.CategoryLink{
    border:solid black 1px;
    padding: 5px;
    background-color:lightgray;
}
#ThumbNails{
    padding:1%;
    background-color:lightgrey;
    overflow:scroll;
    width:15%;
    height:600px;
    float:right;
    position:absolute;
    top:275px;
    right:15%;
}
#ImageInfos{

}
#bild img{
    max-height:50%;
    max-width:50%;
    padding-left:20%;
    height:50%;
    width:50%
}
#BigImage{
    height:400px;
    padding-left:15%;
}
#BlogpostDiv{
    width:800px;

    background-color:lightblue;
}
#BlogpostHeaderDiv{
    width:800px;
    height:30px;
    color:darkblue;
}
#BlogImage{
    float:right;
    height: 200px;
    width: 300px;
    position: absolute;
    right: 500px;
}
.BlogTable{
    /*min-width:80%;*/
    /*max-width:100%;*/
    font-family:Century;
    padding:5px;
	width:100%;
	border:1px solid #3f7f00;
    width:70%;
    background-color:white;
    margin:10px;
    border-radius:5px;
    table-layout:fixed;
    overflow:hidden;
    
    
}
#BlogTable td{
        max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#BlogContent{
    border-radius:5px;
    background-color:lightgray;
    margin:5px;
    padding:5px;
}
/*.BlogTable {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #3f7f00;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#ebffd8;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #d4ffaa 5%, #ebffd8 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4ffaa), color-stop(1, #ebffd8) ); 
	background:-moz-linear-gradient( center top, #d4ffaa 5%, #ebffd8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4ffaa", endColorstr="#ebffd8");	background: -o-linear-gradient(top,#d4ffaa,ebffd8);

	background-color:#d4ffaa;

	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}*/