body {
}

header{
    height:200px;
    background-color:lightgreen;
}
nav{
    float:right;
}
nav a{
    border: solid black 1px;
    padding: 5px;
    background-color:lightgray;
}
aside{
    float:right;
    padding-top:200px;
    margin-top:50px;
}
footer{
    text-align:center;
    background-color:lightgreen;
    height:50px;
    text-decoration-style:wavy;
}
.AboutText{
    width:50%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
#ProfilePicture{
    width:100px;
}
h1, h2, h3{
    color:black;
}
p{
    color:gray;
}
.CategoryLink{
    border:solid black 1px;
    padding: 5px;
    background-color:lightgray;
}
#ThumbNails{

}
